<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true"
	name="XMLConfig" dest="err">

	<Properties>
		<Property name="filename">logs/errors.log</Property>
	</Properties>

	<Appenders>		
		<Console name="info">
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss}  %m%n" />             
            <Filters>
                 <ThresholdFilter level="WARN" onMatch="DENY"
                onMismatch="ACCEPT" />
                    <ThresholdFilter level="INFO" onMatch="ACCEPT"
                onMismatch="NEUTRAL" />
            </Filters>
        </Console>

		<RollingFile name="errors" immediateFlush="true" fileName="${filename}" filePattern="logs/old/errors-%d{MM-dd-yy}-%i.log.zip">
		    <SizeBasedTriggeringPolicy size="5MB"/>
		    <DefaultRolloverStrategy max="5"/>
			<PatternLayout pattern="%d %-5p: %C{3.}[%L].%M -> %m%n" />
		</RollingFile>

	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="info" level="INFO" />
			<AppenderRef ref="errors" level="WARN" />
		</Root>
	</Loggers>
</Configuration>